<div class="card-body">
          <form>
                        <div class="form-group">
                            <label for="producto">producto: </label>
                            <input type="text" class="form-control" id="producto" placeholder="Ingresar producto..." #producto>
                        </div>
                        <div class="form-group">
                            <label for="precio">Valor: </label>
                            <input type="text" class="form-control" id="precio" placeholder="Ingresar valor..." #precio>
                        </div>
                        <button type="submit" class="btn btn-primary" (click)="guardar(producto.value, precio.value)">Agregar</button>
                    </form>
        </div>
<div class="card-deck mb-3 text-center">


    <div  class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Productos</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">Cantidad: <small class="text-muted">{{count}}</small></h1>
        <ul *ngFor="let d of productos" class="list-unstyled mt-3 mb-4">
          <li>Producto:{{d.producto}}, Valor:{{d.valor}}</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-primary" (click)="limpiar()">Limpiar</button>
      </div>
    </div>
</div>

